<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/style1.css">
        <link rel="stylesheet" href="../static/css/about.css">
    </head>
    <body>
        
            <div class="nav">
               <ul class="nav">
                <li class="nav" ><a  class="na" href="index.html" >Home</a></li>
                <li class="nav"><a class="nav" href="about.html" >DEVELOPERS</a></li>
                <li class="nav"><a class="na" href="../../index.php" >Job_Portal</a></li>
               </ul>
           </div>
    <div class="id_con">
          
        <div class="student1">
            <div class="imagess">
                <img  class="student" src="../static/images/forid/j.jpg">
            </div>
            <div class="title_conh">
                <p class="id_fill">NAME:<b>_Biruk Metaferia</b></p>
                <p class="id_fill">Email:<b>birukm555@gmail.com</b> </p>
                <p class="id_fill">Phone.No:<b>+251923160066</b></p>
            </div>
            
        </div>
       
        

    </div>
    
        
    </body>
</html>